#header {
	min-height: 80vh;
	background-image: url(/src/img/background.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 100px;
	.header-top {
		position: relative;
		padding: 20px 0;
		.colour-logo {
			@media @mobile {
				width: 150px;
				height: auto;
			}
		}
		.fb-likes {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			padding: 5px 10px;
			background-color: #3790fb;
			border-radius: 5px;
			line-height: 10px;

			.like-thumb,
			p {
				display: inline;
			}
			.like-thumb {
				margin-right: 10px;
				width: 10px;
				height: auto;
			}
			p {
				word-spacing: 10px;
				color: @color-text-invert;
				font-size: 10px;
			}
		}
	}
	.header-heading {
		max-width: 600px;
		font-size: @font-size-xl;
		text-align: center;
		margin: 0 auto;
		padding: 50px 0;
		@media @desktop, @ipad-pro {
			font-size: 40px;
		}
		@media @ipad {
			font-size: 32px;
		}
		@media @mobile {
			font-size: @font-size-m;
		}
	}
	.getQuotes {
		background-color: rgba(255, 255, 255, 0.8);
		display: flex;
		align-items: center;
		padding: 20px 30px;
		box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
		position: relative;
		.getQuotes-side {
			position: absolute;
			height: 100%;
			width: 15px;
			background-color: @color-accent-2;
			top: 0;
			left: 0;
			.cube {
				position: absolute;
				top: 41px;
				right: -5px;
				transform: rotateZ(45deg);
				width: 10px;
				height: 10px;
				background-color: @color-accent-2;
				@media @mobile {
					top: 48px;
				}
			}
		}
		.getQuotes-from {
			flex-grow: 2;
			margin-right: 20px;
			h2 {
				font-size: @font-size-l;
				padding-bottom: 20px;
				font-weight: 400;
			}
			.wrapper-select__from {
				position: relative;
				.from-textfield {
					position: relative;
					display: block;
					width: 100%;
					border-bottom: 2px solid @color-accent-1;
					font-weight: 500;
					.caret-down {
						position: absolute;
						top: 0;
						right: 0;
						font-weight: 400;
					}
				}
				.from-list {
					z-index: 2;
				}
			}
		}
		.getQuotes-to {
			flex-grow: 2;
			h2 {
				font-size: @font-size-l;
				padding-bottom: 20px;
				font-weight: 400;
			}
			.wrapper-select__to {
				position: relative;
				.to-textfield {
					position: relative;
					display: block;
					width: 100%;
					border-bottom: 2px solid @color-accent-1;
					font-weight: 500;
					.caret-down {
						position: absolute;
						top: 0;
						right: 0;
					}
				}
				.to-list {
					z-index: 2;
				}
			}
		}
		.getQuotes-from,
		.getQuotes-to {
			ul {
				list-style-type: none;
				position: absolute;
				width: 100%;
				background-color: rgba(255, 255, 255, 1);
				box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
				opacity: 0;
				transition: 0.25s;
				visibility: hidden;
				&.show {
					transform: translateY(10%);
					opacity: 1;
					visibility: visible;
				}
				li {
					padding: 10px;
					transition: 0.25s;
					&:hover {
						background-color: @color-accent-1;
						color: @color-text-invert;
					}
				}
			}
		}
		.getQuotes-submit {
			flex-grow: 3;
			text-align: center;
			.wrapper {
				.submit-btn {
					font-size: @font-size-l;
					background-color: @color-accent-1;
					padding: 15px;
					border: none;
					color: @color-text-invert;
					width: 70%;
					border-radius: 5px;
					box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
					transition: 0.25s;
					&:hover {
						transform: scale(1.03);
					}
				}
				p {
					font-size: @font-size-xs;
					padding-top: 10px;
				}
			}
		}
		@media @desktop, @ipad-pro {
			.getQuotes-from,
			.getQuotes-to,
			.getQuotes-submit {
				h2 {
					font-size: @font-size-m;
				}
				.wrapper {
					.submit-btn {
						font-size: @font-size-m;
					}
				}
			}
		}
		@media @ipad {
			.getQuotes-from,
			.getQuotes-to,
			.getQuotes-submit {
				h2 {
					font-size: 18px;
				}
				.wrapper {
					.submit-btn {
						font-size: 18px;
					}
				}
			}
		}
		@media @mobile {
			display: block;
			.getQuotes-from,
			.getQuotes-to,
			.getQuotes-submit {
				margin-top: 20px;
				margin-right: 0;
				h2 {
					font-size: 20px;
					font-weight: 600;
				}
				.wrapper {
					.submit-btn {
						font-size: 18px;
					}
				}
			}
		}
	}
}
