@import "./media_queries";
@import "./sections/header";
@import "./sections/settings-choice";
@import "./sections/timepickers";
@import "./sections/datepicker";

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #FAFAFA;
	font-family: 'Roboto', sans-serif;
	position: relative;
	user-select: none;
}

