<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  </head>
  <body>
  
    <section id="header">
      <div class="container-md">
        <div class="header-top">
          <img src="/src/img/colour-logo.png" alt="" class="colour-logo push-left">
          <div class="fb-likes push-right">
            <img src="/src/img/like-thumb.png" alt="" class="like-thumb">
            <p>Like 8.1k</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <h1 class="header-heading">Get Free Quotes from up to 6 Removal Companies</h1>
        <div class="getQuotes">
          <div class="getQuotes-side">
            <div class="cube"></div>
          </div>
          <div class="getQuotes-from">
            <div class="wrapper">
              <h2>I'm moving from:</h2>
              <div class="wrapper-select__from">  
                <div class="from-textfield">
                  <div class="text">United Kingdom</div>
                  <div class="caret-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                </div>           
                <ul class="from-list">
                  <li>United Kingdom</li>
                  <li>Option 2</li>
                  <li>Option 3</li>
                  <li>Option 4</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="getQuotes-to">
            <div class="wrapper">
              <h2>I'm moving to:</h2>
              <div class="wrapper-select__to"> 
                <div class="to-textfield">
                  <div class="text">Addis Ababa</div>
                  <div class="caret-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                </div>              
                <ul class="to-list">
                  <li>Addis Ababa</li>
                  <li>Option 2</li>
                  <li>Option 3</li>
                  <li>Option</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="getQuotes-submit">
            <div class="wrapper">
              <button class="submit-btn">Get Quotes</button>
              <p>It only takes 60 seconds</p>
            </div>
          </div>
        </div>
      </div>
      
    </section>
    <section id="main">
      <div class="container-md">
        <div class="wrapper">
          <div class="block">
            <h2>Why Choose Movehub?</h2>
            <p>Over the past four years, Movehub has helped half a million people successfully move overseas and locally.</p>
            <img src="/src/img/trustpilot.png" alt="trustpilot">
          </div>
          <div class="block">
            <h2>What Other Say</h2>
            <p>"Amazing! Would recommend to anyone moving abroad. The MoveHub website helped me so much!"</p>
            <img src="/src/img/trustpilot.png" alt="trustpilot">
          </div>
          <div class="block">
            <h2>Recognised Worldwide</h2>
            <p>We are proud member of International Association of Movers and IAM Logistic Network.</p>
            <img src="/src/img/iam-nextwork-logo.png" alt="trustpilot">
            <img src="/src/img/iam-logo.png" alt="trustpilot">
          </div>
        </div>
        <div class="wrapper icons">
          <div class="block">
            <img src="/src/img/clock.png" alt="">
            <p>Quick quotes without obligation</p>
          </div>
          <div class="block">
            <img src="/src/img/money.png" alt="">
            <p>Compare prices and services</p>
          </div>
          <div class="block">
            <img src="/src/img/van.png" alt="">
            <p>Choose from our authorised partners</p>
          </div>
        </div>
      </div>
      
    </section>
    <section id="footer">
      <div class="container-lg">
        <ul class="footer-list">
          
            <a href="#"><li>OUR DATA</li></a>
            <a href="#"><li>PARTNER WITH US</li></a>
            <a href="#"><li>PRESS AREA</li></a>
            <a href="#"><li>PRIVACY</li></a>
            <a href="#"><li>TERMS OF USE</li></a>
            <a href="#"><li>FAQ</li></a>
          
        </ul>
        <div class="hr"></div>
        <div class="footer-bottom">
          <div class="footer-bottom-left">
            <div>
              <img class="white-logo" src="/src/img/white-logo.png" alt="">
            </div>
            <div class="wrapper">
              <h3>WE ARE MOVEHUB</h3>
              <p>We are passionate helping people move abroad. Movehub launched in November 2013 and is the most exciting thing since sliced bread</p>
            </div>
          </div>
          <div class="footer-bottom-right">
            <a href="#"><img src="/src/img/facebook.png" alt="" class="icon"></a>
            <a href="#"><img src="/src/img/twitter.png" alt="" class="icon"></a>
            <a href="#"><img src="/src/img/linkedin.png" alt="" class="icon"></a>
            <a href="#"><img src="/src/img/pinterest.png" alt="" class="icon"></a>
          </div>
        </div>
      </div>
      
    </section>

    <script src="https://use.fontawesome.com/b70e0f0a83.js"></script>
  </body>
</html>