<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  </head>
  <body>
  
    <section class="heading">
      <h1 class="heading__main">TimePicker</h1>
      <div class="heading__settings-icon">
        <i class="fa fa-cog" aria-hidden="true"></i>
      </div>
    </section>
    <section class="settings-choice">
      <div class="icons icons--time">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
      </div>
      <div class="icons icons--date">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </div>
    </section>

    <section class="timepickers"></section>
    <section class="datepicker"></section>

    <script src="https://use.fontawesome.com/b70e0f0a83.js"></script>
  </body>
</html>